@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #70747a;
}

/* Navbar */

.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #5c002e;
    padding: 0 2rem;
}

.navbar {
    position: relative;
}

.logo {
    width: 50px;
    margin-top: 15px;
}

.navbar-itens {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-itens li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
    margin-right: 20px;
}

.navbar-itens a {
    color: #fff;
    text-decoration: none;
    transition: 0.5;
}

.navbar-itens a:hover {
    color: #ccc;
}

.default-btn {
    padding: 15px 20px;
    background-color: #ff0080;
    border-radius: 5px;
}

.navbar-itens .default-btn:hover {
    background-color: #da036e;
    color: #fff;
}

.main-banner {
    background-image: url(../img/3840x2160-cherry-blossom-tree-branches-4k_1606577835.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem;
}

.main-banner h1,
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #ff0047 3px 2px 5px;
}

.main-banner h1 {
    font-size: 74px;
    font-family: "Playwrite IT Moderna";
}

.main-banner p {
    font-size: 20px;
}

/* Services */

.services-container {
    padding: 5rem 0;

}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fa,
.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-clover {
    color: #8400ff;
}

.fa-envelope {
    color: rgb(0, 140, 255);
}

.fa-comments {
    color: #ffae00;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 24px;
}

/* types and prices */

.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
}

.pricing-container p {
    font-size: 20px;
}

.types-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.type {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.type ul {
    padding: 0;
}

.type li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}

.type .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #5c002e;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.type .type-name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #f8708e;
    padding: 50px 0;
}

.type .type-btn {
    background-color: #5c002e;
    color: #fff;
    font-size: 20px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

/* Search Flower */
.searchflower-container {
    background-color: #f8708e;
    text-align: center;
    padding: 5rem 0;
}

.searchflower-container h2 {
    color: #FFF;
    font-size: 40px;
    margin-bottom: 15px;
}

.searchflower-container p {
    color: #FFF;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchflower-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchflower-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.searchflower-container input[type="submit"] {
    padding: 15px 30px;
    background-color: #da036e;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
    opacity: .8;
}

.searchflower-container input[type="submit"]:hover {
    opacity: 1;
}

/* Contact Forms */
.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #5c002e;
    color: #FFF;
    cursor: pointer;
}

/* Footer */

footer {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 100px;
}

/* responsividade */

/* small laptops a partir de 1100px*/
@media (max-width: 1100px) {

    .types-container {
        width: 95%;
    }

    .type {
        margin: 0 5px;
    }

}

/* Tablet 900px*/

@media (max-width: 900px) {
    .main-banner {
        padding: 0 6rem;
    }

    .searchflower-container {
        padding: 2rem 4rem;
    }
} 